<form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="changeTenant()" class="form-full-width" id="tenant-form">
  <!-- tenancyName Field -->
  <mat-form-field appearance="outline">
    <mat-label>{{'tenant.name' | translate}}</mat-label>
    <input matInput [placeholder]="'tenant.name' | translate" formControlName="tenancyName">
    <mat-error *ngIf="formGroup.controls.tenancyName.invalid">
      <span *ngIf="formGroup.controls.tenancyName.errors.maxlength">{{'general.maxlength' | translate:{ x: 64 } }}</span>
    </mat-error>
  </mat-form-field>
  <span>{{'tenant.leaveEmptyToSwitchToHost' | translate}}</span>
  <!-- tenancyName Field -->
</form>