<div class="reset-password" addapptablesPerfectScrollbar>
  <div class="reset-password-content">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <mat-icon matSuffix>email</mat-icon>
            <span>Addapptables</span>
            <app-translate></app-translate>
          </addapptable-card-title>
        </addapptable-card-header-oval>
      </addapptable-card-header>
      <addapptable-card-body>
        <form [formGroup]="form" class="form-full-width" autocomplete="off">
          <mat-form-field appearance="outline">
            <mat-label>{{'auth.password' | translate}}</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="form.controls.password.invalid">
              <span *ngIf="form.controls.password.errors.required">{{'general.required' | translate}}</span>
              <span *ngIf="form.controls.password.errors.maxlength">{{'general.maxlength' | translate: { x: maxLengthPassword } }}</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'auth.repeatPassword' | translate}}</mat-label>
            <input matInput type="password" formControlName="repeatPassword" [errorStateMatcher]="passwordMatcher" required>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="form.hasError('notSame')">
              <span *ngIf="form.hasError('notSame')">{{'user.passwordDotNotMatch' | translate}}</span>
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!form.valid || (saving$ | async)" (click)="resetPassword()">
            {{ "auth.resetPassword" | translate }}
          </button>
          <div class="reset-password-back">
            <a [routerLink]="['/']">{{'general.back' | translate}}</a>
          </div>
        </form>
      </addapptable-card-body>
    </addapptable-card>
  </div>
</div>