<div class="forgot-password" addapptablesPerfectScrollbar>
  <div class="forgot-password-content">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <mat-icon matSuffix>email</mat-icon>
            <span>Addapptables</span>
            <app-translate></app-translate>
          </addapptable-card-title>
        </addapptable-card-header-oval>
      </addapptable-card-header>
      <addapptable-card-body>
        <form [formGroup]="form" class="form-full-width" autocomplete="off">
          <mat-form-field appearance="outline">
            <mat-label>{{'auth.userNameOrEmail' | translate}}</mat-label>
            <input matInput type="text" formControlName="userNameOrEmail">
            <mat-icon matSuffix>people</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!form.valid || (saving$ | async)" (click)="sendPasswordResetCode()">
            {{ "auth.recoverPassword" | translate }}
          </button>
          <div class="forgot-password-back">
            <a [routerLink]="['/']">{{'general.back' | translate}}</a>
          </div>
        </form>
      </addapptable-card-body>
    </addapptable-card>
  </div>
</div>