<addapptable-card>
  <addapptable-card-header>
    <addapptable-card-header-oval>
      <addapptable-card-title>
        <mat-icon suffix>supervised_user_circle</mat-icon>
        <h4>{{'role.title' | translate}}</h4>
      </addapptable-card-title>
    </addapptable-card-header-oval>
    <addapptable-card-header-subtitle *ngIf="'Pages.Administration.Roles.Create' | isGranted">
      <button type="button" color="accent" mat-raised-button (click)="createRole()">
        <mat-icon suffix>group_add</mat-icon>
        {{'role.create' | translate}}
      </button>
    </addapptable-card-header-subtitle>
  </addapptable-card-header>
  <addapptable-card-body>
    <app-role-list></app-role-list>
  </addapptable-card-body>
</addapptable-card>