<addapptable-card>
  <addapptable-card-header>
    <addapptable-card-header-oval>
      <addapptable-card-title>
        <mat-icon suffix>contacts</mat-icon>
        <h4>{{'contact.title' | translate}}</h4>
      </addapptable-card-title>
    </addapptable-card-header-oval>
    <addapptable-card-header-subtitle *ngIf="'Pages.Public.Contacts.Create' | isGranted">
      <button type="button" color="accent" mat-raised-button (click)="createContact()">
        <mat-icon suffix>add</mat-icon>
        {{'contact.create' | translate}}
      </button>
    </addapptable-card-header-subtitle>
  </addapptable-card-header>
  <addapptable-card-body>
    <app-contact-list></app-contact-list>
  </addapptable-card-body>
</addapptable-card>