<div class="row">
  <div class="col-12 col-md-12 col-lg-6 col-xl-5">
    <div class="row">
      <div class="col-12">
        <app-profile-basic-info></app-profile-basic-info>
      </div>
      <div class="col-12">
        <addapptable-card>
          <addapptable-card-header>
            <addapptable-card-header-oval>
              <addapptable-card-title>
                <h4>{{'profile.changePassword' | translate}}</h4>
              </addapptable-card-title>
            </addapptable-card-header-oval>
          </addapptable-card-header>
          <addapptable-card-body>
            <app-profile-change-password></app-profile-change-password>
          </addapptable-card-body>
        </addapptable-card>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-6 col-xl-7">
    <addapptable-card>
      <addapptable-card-header>
        <addapptable-card-header-oval>
          <addapptable-card-title>
            <h4>{{'profile.updateInfo' | translate}}</h4>
          </addapptable-card-title>
        </addapptable-card-header-oval>
      </addapptable-card-header>
      <addapptable-card-body>
        <app-profile-form></app-profile-form>
      </addapptable-card-body>
    </addapptable-card>
  </div>
</div>