<form autocomplete="off" id="organizationUnit-form" [formGroup]="formGroup" class="form-full-width" (submit)="submit()">
  <div class="row">
    <!-- displayName Field -->
    <div class="col-12">
      <mat-form-field>
        <input matInput [placeholder]="'organizationUnit.displayName' | translate" formControlName="displayName" required>
        <mat-error *ngIf="formGroup.controls.displayName.invalid">
          <span *ngIf="formGroup.controls.displayName.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.displayName.errors.maxlength">{{'general.maxlength' | translate: { x: maxDisplayNameLength } }}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- displayName Field -->
  </div>
</form>
