<form autocomplete="off" id="user-form" [formGroup]="formGroup" class="form-full-width" (submit)="submit()">
  <div class="row">
    <!-- UserName Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input matInput [placeholder]="'user.userName' | translate" formControlName="userName" required>
        <mat-error *ngIf="formGroup.controls.userName.invalid">
          <span *ngIf="formGroup.controls.userName.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.userName.errors.maxlength">{{'general.maxlength' | translate: { x:
            maxLengthLargeSize } }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- EmailAddress Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input matInput [placeholder]="'user.emailAddress' | translate" formControlName="emailAddress" required>
        <mat-error *ngIf="formGroup.controls.emailAddress.invalid">
          <span *ngIf="formGroup.controls.emailAddress.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.emailAddress.errors.maxlength">{{'general.maxlength' | translate: { x:
            maxLengthLargeSize } }}</span>
          <span *ngIf="!formGroup.controls.emailAddress.errors.required && formGroup.controls.emailAddress.errors.email">{{'general.isEmail'
            | translate }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Name Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input matInput [placeholder]="'user.name' | translate" formControlName="name" required>
        <mat-error *ngIf="formGroup.controls.name.invalid">
          <span *ngIf="formGroup.controls.name.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.name.errors.maxlength">{{'general.maxlength' | translate: { x:
            maxLengthSmallSize } }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Surname Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input matInput [placeholder]="'user.surname' | translate" formControlName="surname" required>
        <mat-error *ngIf="formGroup.controls.surname.invalid">
          <span *ngIf="formGroup.controls.surname.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.surname.errors.maxlength">{{'general.maxlength' | translate: { x:
            maxLengthSmallSize } }}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <app-crop-image formControlName="profilePictureBase64"></app-crop-image>
    </div>
    <div class="col-12 text-right">
      <button type="submit" mat-raised-button color="accent" [disabled]="loadingAction$ | async">{{'general.save' | translate}}</button>
    </div>
  </div>
</form>