<form autocomplete="off" id="tenant-form" [formGroup]="formGroup" class="form-full-width" (submit)="submit()">
  <div class="row">
    <!-- name Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input matInput [placeholder]="'tenant.name' | translate" formControlName="name" required>
        <mat-error *ngIf="formGroup.controls.name.invalid">
          <span *ngIf="formGroup.controls.name.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.name.errors.maxlength">{{'general.maxlength' | translate: { x: maxNameLength } }}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- name Field -->

    <!-- tenancyName Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input matInput [placeholder]="'tenant.tenancyName' | translate" formControlName="tenancyName" required>
        <mat-error *ngIf="formGroup.controls.tenancyName.invalid">
          <span *ngIf="formGroup.controls.tenancyName.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.tenancyName.errors.maxlength">{{'general.maxlength' | translate: { x: maxTenancyNameLength } }}</span>
          <span *ngIf="formGroup.controls.tenancyName.errors.pattern">{{'tenant.tenancyNamePattern' | translate }}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- tenancyName Field -->

    <!-- adminEmailAddress Field -->
    <div class="col-12 col-md-6" *ngIf="!tenantDto.id">
      <mat-form-field>
        <input type="email" matInput [placeholder]="'tenant.adminEmailAddress' | translate" formControlName="adminEmailAddress" required>
        <mat-error *ngIf="formGroup.controls.adminEmailAddress.invalid">
          <span *ngIf="formGroup.controls.adminEmailAddress.errors.required">{{'general.required' | translate}}</span>
          <span *ngIf="formGroup.controls.adminEmailAddress.errors.maxlength">{{'general.maxlength' | translate: { x: maxEmailAddressLength } }}</span>
          <span *ngIf="formGroup.controls.adminEmailAddress.errors.pattern">{{'general.isEmail' | translate }}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- adminEmailAddress Field -->

    <!-- connectionString Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <input type="email" matInput [placeholder]="'tenant.connectionString' | translate" formControlName="connectionString">
        <mat-error *ngIf="formGroup.controls.connectionString.invalid">
          <span *ngIf="formGroup.controls.connectionString.errors.maxlength">{{'general.maxlength' | translate: { x: maxConnectionStringLength } }}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- connectionString Field -->

    <!-- editionId Field -->
    <div class="col-12 col-md-6">
      <mat-form-field>
        <app-edition-select formControlName="editionId" [placeholder]="'edition.title' | translate"></app-edition-select>
      </mat-form-field>
    </div>
    <!-- connectionString Field -->

    <!-- isActive Field -->
    <div class="col-12 col-md-6 tenant-isActive">
      <mat-checkbox class="tenant-isActive" formControlName="isActive">{{'tenant.isActive' | translate}}</mat-checkbox>
    </div>
    <!-- isActive Field -->

  </div>
</form>