<addapptable-modal>
  <addapptable-modal-header>
    <h3 class="text-accent">{{'userOrganizationUnit.associate' | translate}}</h3>
    <button mat-icon-button (click)="close()">
      <mat-icon suffix>close</mat-icon>
    </button>
  </addapptable-modal-header>
  <addapptable-modal-body>
    <app-user-organization-unit-form #organizationUnitForm [organizationUnitId]="organizationUnitId" (save)="close()"></app-user-organization-unit-form>
  </addapptable-modal-body>
  <addapptable-modal-footer>
    <button type="submit" form="associate-organizationUnit-form" mat-raised-button color="accent"
    [disabled]="(organizationUnitForm.loadingAction$ | async) || organizationUnitForm.usersSelected.length === 0">
      {{'general.save' | translate}}
    </button>
    <button type="button" mat-raised-button (click)="close()">{{'general.close' | translate}}</button>
  </addapptable-modal-footer>
</addapptable-modal>